@import './util/vars';

@import './molecules/header';
@import './molecules/table';
@import './molecules/filter';
@import './molecules/paginate';
* {
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    margin: 0;
    padding: 0;
    background-color: $light-grey;
    font-family: urbane, serif;
    font-weight: 400;
}


.app {
    width: 90vw;
    max-width: 1300px;
    margin: 0 auto;

    &--data {
        width: 100%;
        display: flex;
        justify-content: space-between;
        height: 80vh;
        margin-top: 20px;

        @media screen and (max-width: 1200px) {
            flex-direction: column;
        }    }

    &--controls {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-grow: 1;
        @media screen and (max-width: 1200px) {
            flex-direction: row;
            justify-content: space-evenly;
        }
    }
    &--display {
        flex-grow: 3;
        margin-left: 20px;
    }
}

